<header>
    <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>

  </header>
<!-- <div ng-init="init()"></div> -->
 <center>
  <br>
<h2>xoxo Meteor and WebAudio xoxo</h2>
<ul>
  <li ng-repeat="task in $ctrl.tasks">
    <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>
 

  <button onclick="start()">start/stop</button>
<!-- <button onclick="stop()">stop</button> -->

    
<!--     <button class="dec" ng-click="$ctrl.decTask(task)">DN</button> -->



<!--     <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/> -->
 
    <span class="text">
      {{task.text}}
      {{task.createdAt}}
    </span>
  </li>
</ul>
</center>